<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bran.branproxy.dao.base.QuartzTaskErrorsBaseMapper">


    <insert id="insertQuartzTaskErrors"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `quartz_task_errors`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="taskExecuteRecordId!=null">
                        `task_execute_record_id`,
                    </if>
                    <if test="errorKey!=null">
                        `error_key`,
                    </if>
                    <if test="errorValue!=null">
                        `error_value`,
                    </if>
                    <if test="createTime!=null">
                        `create_time`,
                    </if>
                    <if test="lastModifyTime!=null">
                        `last_modify_time`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="taskExecuteRecordId!=null">
                    #{taskExecuteRecordId},
                </if>
                <if test="errorKey!=null">
                    #{errorKey},
                </if>
                <if test="errorValue!=null">
                    #{errorValue},
                </if>
                <if test="createTime!=null">
                    #{createTime},
                </if>
                <if test="lastModifyTime!=null">
                    #{lastModifyTime},
                </if>
        </trim>
        )
    </insert>




    <update id="updateQuartzTaskErrors">
        UPDATE `quartz_task_errors`
        SET
        <trim suffixOverrides=",">
            <if test="taskExecuteRecordId != null and taskExecuteRecordId!=''">
                `task_execute_record_id` = #{taskExecuteRecordId},
            </if>
            <if test="errorKey != null and errorKey!=''">
                `error_key` = #{errorKey},
            </if>
            <if test="errorValue != null and errorValue!=''">
                `error_value` = #{errorValue},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="lastModifyTime != null">
                `last_modify_time` = #{lastModifyTime},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `quartz_task_errors`
        SET
        <trim suffixOverrides=",">
        <if test="set.taskExecuteRecordId != null and set.taskExecuteRecordId!=''">
            `task_execute_record_id` = #{set.taskExecuteRecordId},
        </if>
        <if test="set.errorKey != null and set.errorKey!=''">
            `error_key` = #{set.errorKey},
        </if>
        <if test="set.errorValue != null and set.errorValue!=''">
            `error_value` = #{set.errorValue},
        </if>
        <if test="set.createTime != null">
            `create_time` = #{set.createTime},
        </if>
        <if test="set.lastModifyTime != null">
            `last_modify_time` = #{set.lastModifyTime},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.taskExecuteRecordIdList != null">
                    `task_execute_record_id` in
                    <foreach collection="where.taskExecuteRecordIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTaskExecuteRecordId!=null and where.fuzzyTaskExecuteRecordId.size()>0">
                (
                <foreach collection="where.fuzzyTaskExecuteRecordId"  separator="or" item="item">
                    `Task_execute_record_id` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTaskExecuteRecordId!=null and where.rightFuzzyTaskExecuteRecordId.size()>0">
                (
                <foreach collection="where.rightFuzzyTaskExecuteRecordId"  separator="or" item="item">
                    `Task_execute_record_id` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.errorKeyList != null">
                    `error_key` in
                    <foreach collection="where.errorKeyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyErrorKey!=null and where.fuzzyErrorKey.size()>0">
                (
                <foreach collection="where.fuzzyErrorKey"  separator="or" item="item">
                    `Error_key` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyErrorKey!=null and where.rightFuzzyErrorKey.size()>0">
                (
                <foreach collection="where.rightFuzzyErrorKey"  separator="or" item="item">
                    `Error_key` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.errorValueList != null">
                    `error_value` in
                    <foreach collection="where.errorValueList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyErrorValue!=null and where.fuzzyErrorValue.size()>0">
                (
                <foreach collection="where.fuzzyErrorValue"  separator="or" item="item">
                    `Error_value` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyErrorValue!=null and where.rightFuzzyErrorValue.size()>0">
                (
                <foreach collection="where.rightFuzzyErrorValue"  separator="or" item="item">
                    `Error_value` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.createTimeList != null">
                    `create_time` in
                    <foreach collection="where.createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.createTimeSt !=null">
                `create_time` >= #{where.createTimeSt} and
            </if>
            <if test="where.createTimeEd!=null">
                `create_time` &lt;= #{where.createTimeEd} and
            </if>
                <if test="where.lastModifyTimeList != null">
                    `last_modify_time` in
                    <foreach collection="where.lastModifyTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.lastModifyTimeSt !=null">
                `last_modify_time` >= #{where.lastModifyTimeSt} and
            </if>
            <if test="where.lastModifyTimeEd!=null">
                `last_modify_time` &lt;= #{where.lastModifyTimeEd} and
            </if>
        </trim>
    </update>


    <resultMap type="org.bran.branproxy.model.QuartzTaskErrors" id="QuartzTaskErrorsMap">
        <result property="id" column="id"/>
        <result property="taskExecuteRecordId" column="task_execute_record_id"/>
        <result property="errorKey" column="error_key"/>
        <result property="errorValue" column="error_value"/>
        <result property="createTime" column="create_time"/>
        <result property="lastModifyTime" column="last_modify_time"/>
    </resultMap>


    <select id="queryQuartzTaskErrors" resultMap="QuartzTaskErrorsMap">
        select
        <include refid="baseResult"></include>
        from  `quartz_task_errors`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="taskExecuteRecordId != null and taskExecuteRecordId!=''">
                `task_execute_record_id` = #{taskExecuteRecordId} and
            </if>
            <if test="errorKey != null and errorKey!=''">
                `error_key` = #{errorKey} and
            </if>
            <if test="errorValue != null and errorValue!=''">
                `error_value` = #{errorValue} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
            <if test="lastModifyTime != null">
                `last_modify_time` = #{lastModifyTime} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.QuartzTaskErrors$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="taskExecuteRecordIdList != null">
                    `task_execute_record_id` in
                    <foreach collection="taskExecuteRecordIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTaskExecuteRecordId!=null and fuzzyTaskExecuteRecordId.size()>0">
                    (
                    <foreach collection="fuzzyTaskExecuteRecordId"  separator="or" item="item">
                        `Task_execute_record_id` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTaskExecuteRecordId!=null and rightFuzzyTaskExecuteRecordId.size()>0">
                    (
                    <foreach collection="rightFuzzyTaskExecuteRecordId"  separator="or" item="item">
                        `Task_execute_record_id` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="errorKeyList != null">
                    `error_key` in
                    <foreach collection="errorKeyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyErrorKey!=null and fuzzyErrorKey.size()>0">
                    (
                    <foreach collection="fuzzyErrorKey"  separator="or" item="item">
                        `Error_key` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyErrorKey!=null and rightFuzzyErrorKey.size()>0">
                    (
                    <foreach collection="rightFuzzyErrorKey"  separator="or" item="item">
                        `Error_key` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="errorValueList != null">
                    `error_value` in
                    <foreach collection="errorValueList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyErrorValue!=null and fuzzyErrorValue.size()>0">
                    (
                    <foreach collection="fuzzyErrorValue"  separator="or" item="item">
                        `Error_value` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyErrorValue!=null and rightFuzzyErrorValue.size()>0">
                    (
                    <foreach collection="rightFuzzyErrorValue"  separator="or" item="item">
                        `Error_value` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="createTimeList != null">
                    `create_time` in
                    <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="createTimeSt !=null">
                    `create_time` >= #{createTimeSt} and
                </if>
                <if test="createTimeEd!=null">
                    `create_time` &lt;= #{createTimeEd} and
                </if>
                <if test="lastModifyTimeList != null">
                    `last_modify_time` in
                    <foreach collection="lastModifyTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="lastModifyTimeSt !=null">
                    `last_modify_time` >= #{lastModifyTimeSt} and
                </if>
                <if test="lastModifyTimeEd!=null">
                    `last_modify_time` &lt;= #{lastModifyTimeEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryQuartzTaskErrorsLimit1" resultMap="QuartzTaskErrorsMap">
        select
        <include refid="baseResult"></include>
        from  `quartz_task_errors`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="taskExecuteRecordId != null and taskExecuteRecordId!=''">
                `task_execute_record_id` = #{taskExecuteRecordId} and
            </if>
            <if test="errorKey != null and errorKey!=''">
                `error_key` = #{errorKey} and
            </if>
            <if test="errorValue != null and errorValue!=''">
                `error_value` = #{errorValue} and
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime} and
            </if>
            <if test="lastModifyTime != null">
                `last_modify_time` = #{lastModifyTime} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.QuartzTaskErrors$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="taskExecuteRecordIdList != null">
                        `task_execute_record_id` in
                        <foreach collection="taskExecuteRecordIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTaskExecuteRecordId!=null and fuzzyTaskExecuteRecordId.size()>0">
                    (
                    <foreach collection="fuzzyTaskExecuteRecordId"  separator="or" item="item">
                        `Task_execute_record_id` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTaskExecuteRecordId!=null and rightFuzzyTaskExecuteRecordId.size()>0">
                    (
                    <foreach collection="rightFuzzyTaskExecuteRecordId"  separator="or" item="item">
                        `Task_execute_record_id` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="errorKeyList != null">
                        `error_key` in
                        <foreach collection="errorKeyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyErrorKey!=null and fuzzyErrorKey.size()>0">
                    (
                    <foreach collection="fuzzyErrorKey"  separator="or" item="item">
                        `Error_key` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyErrorKey!=null and rightFuzzyErrorKey.size()>0">
                    (
                    <foreach collection="rightFuzzyErrorKey"  separator="or" item="item">
                        `Error_key` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="errorValueList != null">
                        `error_value` in
                        <foreach collection="errorValueList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyErrorValue!=null and fuzzyErrorValue.size()>0">
                    (
                    <foreach collection="fuzzyErrorValue"  separator="or" item="item">
                        `Error_value` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyErrorValue!=null and rightFuzzyErrorValue.size()>0">
                    (
                    <foreach collection="rightFuzzyErrorValue"  separator="or" item="item">
                        `Error_value` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="createTimeList != null">
                        `create_time` in
                        <foreach collection="createTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="createTimeSt !=null">
                    `create_time` >= #{createTimeSt} and
                </if>
                <if test="createTimeEd!=null">
                    `create_time` &lt;= #{createTimeEd} and
                </if>
                    <if test="lastModifyTimeList != null">
                        `last_modify_time` in
                        <foreach collection="lastModifyTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="lastModifyTimeSt !=null">
                    `last_modify_time` >= #{lastModifyTimeSt} and
                </if>
                <if test="lastModifyTimeEd!=null">
                    `last_modify_time` &lt;= #{lastModifyTimeEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `task_execute_record_id`,
        `error_key`,
        `error_value`,
        `create_time`,
        `last_modify_time`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof org.bran.branproxy.model.QuartzTaskErrors$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.taskExecuteRecordId==true">
                        `task_execute_record_id`,
                    </if>
                    <if test="fetchFields.fetchFields.errorKey==true">
                        `error_key`,
                    </if>
                    <if test="fetchFields.fetchFields.errorValue==true">
                        `error_value`,
                    </if>
                    <if test="fetchFields.fetchFields.createTime==true">
                        `create_time`,
                    </if>
                    <if test="fetchFields.fetchFields.lastModifyTime==true">
                        `last_modify_time`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.taskExecuteRecordId==null">
                        `task_execute_record_id`,
                    </if>
                    <if test="fetchFields.excludeFields.errorKey==null">
                        `error_key`,
                    </if>
                    <if test="fetchFields.excludeFields.errorValue==null">
                        `error_value`,
                    </if>
                    <if test="fetchFields.excludeFields.createTime==null">
                        `create_time`,
                    </if>
                    <if test="fetchFields.excludeFields.lastModifyTime==null">
                        `last_modify_time`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof org.bran.branproxy.model.QuartzTaskErrors$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>