<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bran.branproxy.dao.base.RoleResourceModelBaseMapper">


    <insert id="insertRoleResourceModel"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `p_role_resource`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="roleId!=null">
                        `role_id`,
                    </if>
                    <if test="resourceId!=null">
                        `resource_id`,
                    </if>
                    <if test="isDelete!=null">
                        `is_delete`,
                    </if>
                    <if test="updateUid!=null">
                        `update_uid`,
                    </if>
                    <if test="lastUpdateTime!=null">
                        `last_update_time`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="roleId!=null">
                    #{roleId},
                </if>
                <if test="resourceId!=null">
                    #{resourceId},
                </if>
                <if test="isDelete!=null">
                    #{isDelete},
                </if>
                <if test="updateUid!=null">
                    #{updateUid},
                </if>
                <if test="lastUpdateTime!=null">
                    #{lastUpdateTime},
                </if>
        </trim>
        )
    </insert>




    <update id="updateRoleResourceModel">
        UPDATE `p_role_resource`
        SET
        <trim suffixOverrides=",">
            <if test="roleId != null">
                `role_id` = #{roleId},
            </if>
            <if test="resourceId != null">
                `resource_id` = #{resourceId},
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete},
            </if>
            <if test="updateUid != null">
                `update_uid` = #{updateUid},
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `p_role_resource`
        SET
        <trim suffixOverrides=",">
        <if test="set.roleId != null">
            `role_id` = #{set.roleId},
        </if>
        <if test="set.resourceId != null">
            `resource_id` = #{set.resourceId},
        </if>
        <if test="set.isDelete != null">
            `is_delete` = #{set.isDelete},
        </if>
        <if test="set.updateUid != null">
            `update_uid` = #{set.updateUid},
        </if>
        <if test="set.lastUpdateTime != null">
            `last_update_time` = #{set.lastUpdateTime},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.roleIdList != null">
                    `role_id` in
                    <foreach collection="where.roleIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.roleIdSt !=null">
                `role_id` >= #{where.roleIdSt} and
            </if>
            <if test="where.roleIdEd!=null">
                `role_id` &lt;= #{where.roleIdEd} and
            </if>
                <if test="where.resourceIdList != null">
                    `resource_id` in
                    <foreach collection="where.resourceIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.resourceIdSt !=null">
                `resource_id` >= #{where.resourceIdSt} and
            </if>
            <if test="where.resourceIdEd!=null">
                `resource_id` &lt;= #{where.resourceIdEd} and
            </if>
                <if test="where.isDeleteList != null">
                    `is_delete` in
                    <foreach collection="where.isDeleteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.isDeleteSt !=null">
                `is_delete` >= #{where.isDeleteSt} and
            </if>
            <if test="where.isDeleteEd!=null">
                `is_delete` &lt;= #{where.isDeleteEd} and
            </if>
                <if test="where.updateUidList != null">
                    `update_uid` in
                    <foreach collection="where.updateUidList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.updateUidSt !=null">
                `update_uid` >= #{where.updateUidSt} and
            </if>
            <if test="where.updateUidEd!=null">
                `update_uid` &lt;= #{where.updateUidEd} and
            </if>
                <if test="where.lastUpdateTimeList != null">
                    `last_update_time` in
                    <foreach collection="where.lastUpdateTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.lastUpdateTimeSt !=null">
                `last_update_time` >= #{where.lastUpdateTimeSt} and
            </if>
            <if test="where.lastUpdateTimeEd!=null">
                `last_update_time` &lt;= #{where.lastUpdateTimeEd} and
            </if>
        </trim>
    </update>


    <resultMap type="org.bran.branproxy.model.RoleResourceModel" id="RoleResourceModelMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="updateUid" column="update_uid"/>
        <result property="lastUpdateTime" column="last_update_time"/>
    </resultMap>


    <select id="queryRoleResourceModel" resultMap="RoleResourceModelMap">
        select
        <include refid="baseResult"></include>
        from  `p_role_resource`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="roleId != null">
                `role_id` = #{roleId} and
            </if>
            <if test="resourceId != null">
                `resource_id` = #{resourceId} and
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete} and
            </if>
            <if test="updateUid != null">
                `update_uid` = #{updateUid} and
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.RoleResourceModel$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="roleIdList != null">
                    `role_id` in
                    <foreach collection="roleIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="roleIdSt !=null">
                    `role_id` >= #{roleIdSt} and
                </if>
                <if test="roleIdEd!=null">
                    `role_id` &lt;= #{roleIdEd} and
                </if>
                <if test="resourceIdList != null">
                    `resource_id` in
                    <foreach collection="resourceIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="resourceIdSt !=null">
                    `resource_id` >= #{resourceIdSt} and
                </if>
                <if test="resourceIdEd!=null">
                    `resource_id` &lt;= #{resourceIdEd} and
                </if>
                <if test="isDeleteList != null">
                    `is_delete` in
                    <foreach collection="isDeleteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="isDeleteSt !=null">
                    `is_delete` >= #{isDeleteSt} and
                </if>
                <if test="isDeleteEd!=null">
                    `is_delete` &lt;= #{isDeleteEd} and
                </if>
                <if test="updateUidList != null">
                    `update_uid` in
                    <foreach collection="updateUidList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="updateUidSt !=null">
                    `update_uid` >= #{updateUidSt} and
                </if>
                <if test="updateUidEd!=null">
                    `update_uid` &lt;= #{updateUidEd} and
                </if>
                <if test="lastUpdateTimeList != null">
                    `last_update_time` in
                    <foreach collection="lastUpdateTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="lastUpdateTimeSt !=null">
                    `last_update_time` >= #{lastUpdateTimeSt} and
                </if>
                <if test="lastUpdateTimeEd!=null">
                    `last_update_time` &lt;= #{lastUpdateTimeEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryRoleResourceModelLimit1" resultMap="RoleResourceModelMap">
        select
        <include refid="baseResult"></include>
        from  `p_role_resource`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="roleId != null">
                `role_id` = #{roleId} and
            </if>
            <if test="resourceId != null">
                `resource_id` = #{resourceId} and
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete} and
            </if>
            <if test="updateUid != null">
                `update_uid` = #{updateUid} and
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.RoleResourceModel$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="roleIdList != null">
                        `role_id` in
                        <foreach collection="roleIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="roleIdSt !=null">
                    `role_id` >= #{roleIdSt} and
                </if>
                <if test="roleIdEd!=null">
                    `role_id` &lt;= #{roleIdEd} and
                </if>
                    <if test="resourceIdList != null">
                        `resource_id` in
                        <foreach collection="resourceIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="resourceIdSt !=null">
                    `resource_id` >= #{resourceIdSt} and
                </if>
                <if test="resourceIdEd!=null">
                    `resource_id` &lt;= #{resourceIdEd} and
                </if>
                    <if test="isDeleteList != null">
                        `is_delete` in
                        <foreach collection="isDeleteList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="isDeleteSt !=null">
                    `is_delete` >= #{isDeleteSt} and
                </if>
                <if test="isDeleteEd!=null">
                    `is_delete` &lt;= #{isDeleteEd} and
                </if>
                    <if test="updateUidList != null">
                        `update_uid` in
                        <foreach collection="updateUidList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="updateUidSt !=null">
                    `update_uid` >= #{updateUidSt} and
                </if>
                <if test="updateUidEd!=null">
                    `update_uid` &lt;= #{updateUidEd} and
                </if>
                    <if test="lastUpdateTimeList != null">
                        `last_update_time` in
                        <foreach collection="lastUpdateTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="lastUpdateTimeSt !=null">
                    `last_update_time` >= #{lastUpdateTimeSt} and
                </if>
                <if test="lastUpdateTimeEd!=null">
                    `last_update_time` &lt;= #{lastUpdateTimeEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `role_id`,
        `resource_id`,
        `is_delete`,
        `update_uid`,
        `last_update_time`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof org.bran.branproxy.model.RoleResourceModel$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.roleId==true">
                        `role_id`,
                    </if>
                    <if test="fetchFields.fetchFields.resourceId==true">
                        `resource_id`,
                    </if>
                    <if test="fetchFields.fetchFields.isDelete==true">
                        `is_delete`,
                    </if>
                    <if test="fetchFields.fetchFields.updateUid==true">
                        `update_uid`,
                    </if>
                    <if test="fetchFields.fetchFields.lastUpdateTime==true">
                        `last_update_time`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.roleId==null">
                        `role_id`,
                    </if>
                    <if test="fetchFields.excludeFields.resourceId==null">
                        `resource_id`,
                    </if>
                    <if test="fetchFields.excludeFields.isDelete==null">
                        `is_delete`,
                    </if>
                    <if test="fetchFields.excludeFields.updateUid==null">
                        `update_uid`,
                    </if>
                    <if test="fetchFields.excludeFields.lastUpdateTime==null">
                        `last_update_time`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof org.bran.branproxy.model.RoleResourceModel$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>