<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bran.branproxy.dao.base.UserModelBaseMapper">


    <insert id="insertUserModel"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `p_user`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="title!=null">
                        `title`,
                    </if>
                    <if test="pwd!=null">
                        `pwd`,
                    </if>
                    <if test="email!=null">
                        `email`,
                    </if>
                    <if test="salt!=null">
                        `salt`,
                    </if>
                    <if test="isDelete!=null">
                        `is_delete`,
                    </if>
                    <if test="lastUpdateTime!=null">
                        `last_update_time`,
                    </if>
                    <if test="lastLoginAddress!=null">
                        `last_login_address`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="title!=null">
                    #{title},
                </if>
                <if test="pwd!=null">
                    #{pwd},
                </if>
                <if test="email!=null">
                    #{email},
                </if>
                <if test="salt!=null">
                    #{salt},
                </if>
                <if test="isDelete!=null">
                    #{isDelete},
                </if>
                <if test="lastUpdateTime!=null">
                    #{lastUpdateTime},
                </if>
                <if test="lastLoginAddress!=null">
                    #{lastLoginAddress},
                </if>
        </trim>
        )
    </insert>




    <update id="updateUserModel">
        UPDATE `p_user`
        SET
        <trim suffixOverrides=",">
            <if test="title != null and title!=''">
                `title` = #{title},
            </if>
            <if test="pwd != null and pwd!=''">
                `pwd` = #{pwd},
            </if>
            <if test="email != null and email!=''">
                `email` = #{email},
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt},
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete},
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime},
            </if>
            <if test="lastLoginAddress != null and lastLoginAddress!=''">
                `last_login_address` = #{lastLoginAddress},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `p_user`
        SET
        <trim suffixOverrides=",">
        <if test="set.title != null and set.title!=''">
            `title` = #{set.title},
        </if>
        <if test="set.pwd != null and set.pwd!=''">
            `pwd` = #{set.pwd},
        </if>
        <if test="set.email != null and set.email!=''">
            `email` = #{set.email},
        </if>
        <if test="set.salt != null and set.salt!=''">
            `salt` = #{set.salt},
        </if>
        <if test="set.isDelete != null">
            `is_delete` = #{set.isDelete},
        </if>
        <if test="set.lastUpdateTime != null">
            `last_update_time` = #{set.lastUpdateTime},
        </if>
        <if test="set.lastLoginAddress != null and set.lastLoginAddress!=''">
            `last_login_address` = #{set.lastLoginAddress},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.titleList != null">
                    `title` in
                    <foreach collection="where.titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTitle!=null and where.fuzzyTitle.size()>0">
                (
                <foreach collection="where.fuzzyTitle"  separator="or" item="item">
                    `Title` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTitle!=null and where.rightFuzzyTitle.size()>0">
                (
                <foreach collection="where.rightFuzzyTitle"  separator="or" item="item">
                    `Title` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.pwdList != null">
                    `pwd` in
                    <foreach collection="where.pwdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPwd!=null and where.fuzzyPwd.size()>0">
                (
                <foreach collection="where.fuzzyPwd"  separator="or" item="item">
                    `Pwd` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPwd!=null and where.rightFuzzyPwd.size()>0">
                (
                <foreach collection="where.rightFuzzyPwd"  separator="or" item="item">
                    `Pwd` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.emailList != null">
                    `email` in
                    <foreach collection="where.emailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyEmail!=null and where.fuzzyEmail.size()>0">
                (
                <foreach collection="where.fuzzyEmail"  separator="or" item="item">
                    `Email` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyEmail!=null and where.rightFuzzyEmail.size()>0">
                (
                <foreach collection="where.rightFuzzyEmail"  separator="or" item="item">
                    `Email` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.saltList != null">
                    `salt` in
                    <foreach collection="where.saltList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySalt!=null and where.fuzzySalt.size()>0">
                (
                <foreach collection="where.fuzzySalt"  separator="or" item="item">
                    `Salt` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySalt!=null and where.rightFuzzySalt.size()>0">
                (
                <foreach collection="where.rightFuzzySalt"  separator="or" item="item">
                    `Salt` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.isDeleteList != null">
                    `is_delete` in
                    <foreach collection="where.isDeleteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.isDeleteSt !=null">
                `is_delete` >= #{where.isDeleteSt} and
            </if>
            <if test="where.isDeleteEd!=null">
                `is_delete` &lt;= #{where.isDeleteEd} and
            </if>
                <if test="where.lastUpdateTimeList != null">
                    `last_update_time` in
                    <foreach collection="where.lastUpdateTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.lastUpdateTimeSt !=null">
                `last_update_time` >= #{where.lastUpdateTimeSt} and
            </if>
            <if test="where.lastUpdateTimeEd!=null">
                `last_update_time` &lt;= #{where.lastUpdateTimeEd} and
            </if>
                <if test="where.lastLoginAddressList != null">
                    `last_login_address` in
                    <foreach collection="where.lastLoginAddressList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyLastLoginAddress!=null and where.fuzzyLastLoginAddress.size()>0">
                (
                <foreach collection="where.fuzzyLastLoginAddress"  separator="or" item="item">
                    `Last_login_address` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyLastLoginAddress!=null and where.rightFuzzyLastLoginAddress.size()>0">
                (
                <foreach collection="where.rightFuzzyLastLoginAddress"  separator="or" item="item">
                    `Last_login_address` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="org.bran.branproxy.model.UserModel" id="UserModelMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="pwd" column="pwd"/>
        <result property="email" column="email"/>
        <result property="salt" column="salt"/>
        <result property="isDelete" column="is_delete"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="lastLoginAddress" column="last_login_address"/>
    </resultMap>


    <select id="queryUserModel" resultMap="UserModelMap">
        select
        <include refid="baseResult"></include>
        from  `p_user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="title != null and title!=''">
                `title` = #{title} and
            </if>
            <if test="pwd != null and pwd!=''">
                `pwd` = #{pwd} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt} and
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete} and
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime} and
            </if>
            <if test="lastLoginAddress != null and lastLoginAddress!=''">
                `last_login_address` = #{lastLoginAddress} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.UserModel$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="titleList != null">
                    `title` in
                    <foreach collection="titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTitle!=null and fuzzyTitle.size()>0">
                    (
                    <foreach collection="fuzzyTitle"  separator="or" item="item">
                        `Title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTitle!=null and rightFuzzyTitle.size()>0">
                    (
                    <foreach collection="rightFuzzyTitle"  separator="or" item="item">
                        `Title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="pwdList != null">
                    `pwd` in
                    <foreach collection="pwdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPwd!=null and fuzzyPwd.size()>0">
                    (
                    <foreach collection="fuzzyPwd"  separator="or" item="item">
                        `Pwd` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPwd!=null and rightFuzzyPwd.size()>0">
                    (
                    <foreach collection="rightFuzzyPwd"  separator="or" item="item">
                        `Pwd` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="emailList != null">
                    `email` in
                    <foreach collection="emailList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="saltList != null">
                    `salt` in
                    <foreach collection="saltList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySalt!=null and fuzzySalt.size()>0">
                    (
                    <foreach collection="fuzzySalt"  separator="or" item="item">
                        `Salt` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySalt!=null and rightFuzzySalt.size()>0">
                    (
                    <foreach collection="rightFuzzySalt"  separator="or" item="item">
                        `Salt` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="isDeleteList != null">
                    `is_delete` in
                    <foreach collection="isDeleteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="isDeleteSt !=null">
                    `is_delete` >= #{isDeleteSt} and
                </if>
                <if test="isDeleteEd!=null">
                    `is_delete` &lt;= #{isDeleteEd} and
                </if>
                <if test="lastUpdateTimeList != null">
                    `last_update_time` in
                    <foreach collection="lastUpdateTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="lastUpdateTimeSt !=null">
                    `last_update_time` >= #{lastUpdateTimeSt} and
                </if>
                <if test="lastUpdateTimeEd!=null">
                    `last_update_time` &lt;= #{lastUpdateTimeEd} and
                </if>
                <if test="lastLoginAddressList != null">
                    `last_login_address` in
                    <foreach collection="lastLoginAddressList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyLastLoginAddress!=null and fuzzyLastLoginAddress.size()>0">
                    (
                    <foreach collection="fuzzyLastLoginAddress"  separator="or" item="item">
                        `Last_login_address` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLastLoginAddress!=null and rightFuzzyLastLoginAddress.size()>0">
                    (
                    <foreach collection="rightFuzzyLastLoginAddress"  separator="or" item="item">
                        `Last_login_address` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryUserModelLimit1" resultMap="UserModelMap">
        select
        <include refid="baseResult"></include>
        from  `p_user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="title != null and title!=''">
                `title` = #{title} and
            </if>
            <if test="pwd != null and pwd!=''">
                `pwd` = #{pwd} and
            </if>
            <if test="email != null and email!=''">
                `email` = #{email} and
            </if>
            <if test="salt != null and salt!=''">
                `salt` = #{salt} and
            </if>
            <if test="isDelete != null">
                `is_delete` = #{isDelete} and
            </if>
            <if test="lastUpdateTime != null">
                `last_update_time` = #{lastUpdateTime} and
            </if>
            <if test="lastLoginAddress != null and lastLoginAddress!=''">
                `last_login_address` = #{lastLoginAddress} and
            </if>
            <if test = "(_parameter instanceof org.bran.branproxy.model.UserModel$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="titleList != null">
                        `title` in
                        <foreach collection="titleList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTitle!=null and fuzzyTitle.size()>0">
                    (
                    <foreach collection="fuzzyTitle"  separator="or" item="item">
                        `Title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTitle!=null and rightFuzzyTitle.size()>0">
                    (
                    <foreach collection="rightFuzzyTitle"  separator="or" item="item">
                        `Title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="pwdList != null">
                        `pwd` in
                        <foreach collection="pwdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPwd!=null and fuzzyPwd.size()>0">
                    (
                    <foreach collection="fuzzyPwd"  separator="or" item="item">
                        `Pwd` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPwd!=null and rightFuzzyPwd.size()>0">
                    (
                    <foreach collection="rightFuzzyPwd"  separator="or" item="item">
                        `Pwd` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="emailList != null">
                        `email` in
                        <foreach collection="emailList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyEmail!=null and fuzzyEmail.size()>0">
                    (
                    <foreach collection="fuzzyEmail"  separator="or" item="item">
                        `Email` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEmail!=null and rightFuzzyEmail.size()>0">
                    (
                    <foreach collection="rightFuzzyEmail"  separator="or" item="item">
                        `Email` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="saltList != null">
                        `salt` in
                        <foreach collection="saltList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySalt!=null and fuzzySalt.size()>0">
                    (
                    <foreach collection="fuzzySalt"  separator="or" item="item">
                        `Salt` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySalt!=null and rightFuzzySalt.size()>0">
                    (
                    <foreach collection="rightFuzzySalt"  separator="or" item="item">
                        `Salt` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="isDeleteList != null">
                        `is_delete` in
                        <foreach collection="isDeleteList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="isDeleteSt !=null">
                    `is_delete` >= #{isDeleteSt} and
                </if>
                <if test="isDeleteEd!=null">
                    `is_delete` &lt;= #{isDeleteEd} and
                </if>
                    <if test="lastUpdateTimeList != null">
                        `last_update_time` in
                        <foreach collection="lastUpdateTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="lastUpdateTimeSt !=null">
                    `last_update_time` >= #{lastUpdateTimeSt} and
                </if>
                <if test="lastUpdateTimeEd!=null">
                    `last_update_time` &lt;= #{lastUpdateTimeEd} and
                </if>
                    <if test="lastLoginAddressList != null">
                        `last_login_address` in
                        <foreach collection="lastLoginAddressList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyLastLoginAddress!=null and fuzzyLastLoginAddress.size()>0">
                    (
                    <foreach collection="fuzzyLastLoginAddress"  separator="or" item="item">
                        `Last_login_address` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyLastLoginAddress!=null and rightFuzzyLastLoginAddress.size()>0">
                    (
                    <foreach collection="rightFuzzyLastLoginAddress"  separator="or" item="item">
                        `Last_login_address` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `title`,
        `pwd`,
        `email`,
        `salt`,
        `is_delete`,
        `last_update_time`,
        `last_login_address`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof org.bran.branproxy.model.UserModel$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.title==true">
                        `title`,
                    </if>
                    <if test="fetchFields.fetchFields.pwd==true">
                        `pwd`,
                    </if>
                    <if test="fetchFields.fetchFields.email==true">
                        `email`,
                    </if>
                    <if test="fetchFields.fetchFields.salt==true">
                        `salt`,
                    </if>
                    <if test="fetchFields.fetchFields.isDelete==true">
                        `is_delete`,
                    </if>
                    <if test="fetchFields.fetchFields.lastUpdateTime==true">
                        `last_update_time`,
                    </if>
                    <if test="fetchFields.fetchFields.lastLoginAddress==true">
                        `last_login_address`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.title==null">
                        `title`,
                    </if>
                    <if test="fetchFields.excludeFields.pwd==null">
                        `pwd`,
                    </if>
                    <if test="fetchFields.excludeFields.email==null">
                        `email`,
                    </if>
                    <if test="fetchFields.excludeFields.salt==null">
                        `salt`,
                    </if>
                    <if test="fetchFields.excludeFields.isDelete==null">
                        `is_delete`,
                    </if>
                    <if test="fetchFields.excludeFields.lastUpdateTime==null">
                        `last_update_time`,
                    </if>
                    <if test="fetchFields.excludeFields.lastLoginAddress==null">
                        `last_login_address`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof org.bran.branproxy.model.UserModel$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>