<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script src="/static/lib/jquery.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/echarts-gl.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/ecStat.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/dataTool.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/china.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=BWhBLTrvfpSWCQ0fZXuWNPk7AIX0fy8x&__ec_v__=20190126"></script>
       <script type="text/javascript" src="/static/lib/echarts/bmap.min.js"></script>
       <script type="text/javascript" src="/static/lib/echarts/simplex.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
$.get("/monitor/geoVO", function (data) {

    data = data.data.filter(function (dataItem) {
        return dataItem.count > 0;
    }).map(function (dataItem) {
        return [dataItem.longitude, dataItem.latitude, Math.sqrt(dataItem.count)];
    });

    option = {
        backgroundColor: '#426979',
        globe: {
            baseTexture: "../static/img/bathymetry_bw_composite_4k.jpg",
            heightTexture: "../static/img/bathymetry_bw_composite_4k.jpg",
            shading: 'lambert',
            environment: '../static/img/starfield.jpg',
            light: {
                main: {
                    intensity: 2
                }
            },
            viewControl: {
                autoRotate: false
            }
        },
        visualMap: {
            max: 40,
            calculable: true,
            realtime: false,
            inRange: {
                colorLightness: [0.2, 0.9]
            },
            textStyle: {
                color: '#fff'
            },
            controller: {
                inRange: {
                    color: 'orange'
                }
            },
            outOfRange: {
                colorAlpha: 0
            }
        },
        series: [{
            type: 'bar3D',
            coordinateSystem: 'globe',
            data: data,
            barSize: 0.6,
            minHeight: 0.2,
            silent: true,
            itemStyle: {
                color: 'orange'
            }
        }]
    };

    myChart.setOption(option);
});
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
</html>