<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-Equiv="Expires" Content="0" />
    <title>应用监控</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css"/>
</head>
<style>
    .layui-col-md6 {
        padding: 5px;
    }

    .layui-card-header {
        color: #444 !important;
    }

    .title {
        padding: 1px 5px;
    }
</style>
<body style="background-color: #F2F2F2">
<div style="padding: 20px;margin-top: 50px;">
    <div class="layui-col-md12" style="margin-bottom: 15px">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon" style="color: #009688">&#xe7ae;</i>
                <span><a href="/main" style="color: #009688">监控列表</a>/ 实时监控</span>
                <span style="float: right;">
                    <button id="pinlv" class="layui-btn layui-btn-xs">频率</button>
                </span>
            </div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin-bottom: 10px">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-green title">速率监控</span>
            </div>
        </div>
    </div>

    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">回收检活速率</span>
            </div>
            <div class="layui-card-body" id="rate" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">公共队列检活速率</span>
            </div>
            <div class="layui-card-body" id="publicQueueRate" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">高匿队列检活速率</span>
            </div>
            <div class="layui-card-body" id="eliteQueueRate" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">老年代</span>
            </div>
            <div class="layui-card-body" id="old" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin: 10px 0 10px 0">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-green title">方法区监控</span>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">元空间</span>
            </div>
            <div class="layui-card-body" id="mc" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">类指针压缩空间</span>
            </div>
            <div class="layui-card-body" id="ccsc" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin: 10px 0 10px 0">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-green title">GC监控</span>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">GC次数</span>
            </div>
            <div class="layui-card-body" id="gcn" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">GC耗时</span>
            </div>
            <div class="layui-card-body" id="gct" style="height: 330px">
            </div>
        </div>
    </div>

    <div class="layui-col-md12" style="margin: 10px 0 10px 0">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-green title">类加载监控</span>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-badge layui-bg-cyan">类加载数量</span>
            </div>
            <div class="layui-card-body" id="classn" style="height: 330px">
            </div>
        </div>
    </div>





</div>
<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/sockjs.min.js"></script>
<script src="/static/lib/stomp.min.js"></script>
<script src="/static/lib/layui/layui.all.js"></script>
<!-- ECharts单文件引入 -->
<script src="/static/lib/echarts/echarts.min.js"></script>
<script src="/static/js/rateSocket.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/monitor/rate.js"></script>
</body>
</html>