<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-Equiv="Expires" Content="0"/>
    <title>branproxy 代理池服务</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css"/>
</head>
<style>
    .layui-layout-admin .layui-body {
        bottom: 0px;
    }
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">代理池监控</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index">控制台</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">API 文档</a>
                <dl class="layui-nav-child">
                    <dd><a href="http://101.132.101.198/branroom/blogPostPage/36" target="myiframe">开放代理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://gitee.com/uploads/71/1478371_qinxuewu.png?1516348738" class="layui-nav-img">
                    <!--<span th:text="${username}"></span>-->
                </a>
            </li>
            <li class="layui-nav-item"><a href="/user/logout">退出登陆</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a onclick="index()" href="javascript:void(0)"><i class="layui-icon">&#xe68e;</i>&nbsp;首页</a></li>

                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe629;</i>&nbsp;代理池资源</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>高匿代理</a>
                        </dd>
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>透明代理</a>
                        </dd>
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>SOCKS代理</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe629;</i>&nbsp;定时调度</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/schedule/index" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>数据采集</a>
                        </dd>
                        <dd><a href="/schedule/index" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>监控频率</a>
                        </dd>
                        <dd><a href="/schedule/index" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>检活</a>
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe629;</i>&nbsp;实时监控</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                           style="font-size: 14px; margin-right: 5px;"></i>容量监控</a>
                        </dd>
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                           style="font-size: 14px; margin-right: 5px;"></i>速率监控</a>
                        </dd>
                        <dd><a href="/monitor" target="myiframe"><i class="layui-icon layui-icon-date"
                                                                    style="font-size: 14px; margin-right: 5px;"></i>地理发布</a>
                        </dd>
                        <dd><a href="http://101.132.101.198/branroom/blogHome" target="myiframe"><i class="layui-icon layui-icon-link" style="font-size: 12px; margin-right: 5px;"></i>branblog</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe770;</i>&nbsp;用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userList" target="myiframe"><i class="layui-icon layui-icon-group"
                                                                     style="font-size: 12px; margin-right: 5px;"></i>用户列表</a>
                        </dd>
                        <dd><a href="/roleList" target="myiframe"><i class="layui-icon layui-icon-group"
                                                                     style="font-size: 12px; margin-right: 5px;"></i>角色列表</a>
                        </dd>
                        <dd><a href="/permissionList" target="myiframe"><i class="layui-icon layui-icon-group"
                                                                           style="font-size: 12px; margin-right: 5px;"></i>权限列表</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" style="top: 0px;overflow-y: hidden">
        <iframe id="iframe" height="100%" width="100%" src="/main" frameborder="no" allowtransparency="yes"
                name="myiframe"></iframe>
    </div>
</div>
<script src="/static/lib/layui/layui.all.js"></script>
<script src="/static/lib/jquery.min.js"></script>
<script type="text/javascript">
    function index() {
        $("#iframe").attr("src", "/main");
    }

    function gitee() {
        window.open("//gitee.com/qinxuewu");
    }

    $(function () {
        $(".monitor").on("click", function () {
            var name = $(this).find("span").text();
            $("#iframe").attr("src", "/monitor?pid=" + name);
        })
    })

</script>
</body>
</html>