<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-Equiv="Expires" Content="0"/>
    <title>权限列表</title>

    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
</head>
<body>
<div style="padding: 20px;margin-top: 50px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="layui-icon">&#xe68e;</i>
                    <span>首页 / 角色列表</span>
                </div>
                <div class="layui-card-body">
                    <button class="layui-btn layui-btn-sm" id="add"><i class="layui-icon">&#xe654;</i>添加角色</button>
                </div>
            </div>
        </div>
    </div>


    <!--动态数据表格-->
    <table class="layui-table" lay-data="{url:'/user/permission/list'}" lay-filter="roleList">
        <thead>
        <tr>
            <th lay-data="{field:'title', fixed: true}">资源名称</th>
            <th lay-data="{field:'typeName'}">类型</th>
            <th lay-data="{field:'code'}">code</th>
            <th lay-data="{fixed: 'right', align:'center', toolbar: '#bar'}"></th>
        </tr>
        </thead>
    </table>
    <!-- 弹出层 ：角色表单-->
    <div class="roleForm" style="display: none;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="输入角色名"
                           autocomplete="off" class="layui-input" style="width: 300px;">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">角色描述</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分配权限</label>
                <div class="layui-input-block" id="permission_selector">
                    <!--多选组件-->
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formAdd">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


</div>

<script src="/lib/layui/layui.all.js"></script>
<script src="/js/auth/role.js"></script>
<script type="text/html" id="bar">
    <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">



    layui.config({
        base : './'
    }).extend({
        selectN: './layui_extends/selectN',
        selectM: './layui_extends/selectM'
    }).use(['layer','form','jquery','selectN','selectM','table'],function(){
        $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var selectM = layui.selectM;

        // 权限下拉框
        var permissionSelector = [];
        var preRes = getPermissionSelector();
        if(preRes.code === 0){
            permissionSelector = preRes.list;
        }else {
            layer.error(preRes.msg)
        }

        //监听工具条
        table.on('tool(roleList)', function(obj){
            var data = obj.data;
            if(obj.event === 'del') {
                layer.confirm('确定删除角色', function (index) {
                    $.ajax({
                        url: "/user/role/"+data.id,
                        type:"delete",
                        dataType:"json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.code === 0) {
                                location.reload();
                            } else {
                                layer.msg(result.msg);
                            }
                        }
                    });
                });
            }else{

            }
        });

        //多选标签-所有配置
        var tagIns2 = selectM({
            //元素容器【必填】
            elem: '#permission_selector'
            //候选数据【必填】
            ,data: permissionSelector
            //最多选中个数，默认5
            ,max : 99
            //input的name 不设置与选择器相同(去#.)
            ,name: 'permission'
            //值的分隔符
            ,delimiter: ','
            //候选项数据的键名
            ,field: {idName:'id',titleName:'name'}
        });

        $("#add").on("click", function () {
            //页面层
            layer.open({
                area: ['600px', '400px'], //宽高
                content: $(".roleForm").html()
            });
        });

        //监听提交:新增角色
        form.on('submit(formAdd)', function (data) {
            var title = data.field.title;
            var desc = data.field.desc;
            var role = data.field.role;
            $.ajax({
                url: "/user/permission",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "post",
                data: JSON.stringify({
                    "desc": desc,
                    "title": title,
                    "code": role
                }),
                success: function (data) {
                    if (data.code === 0) {
                        location.reload();
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        });

    });

</script>
</body>
</html>