<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-Equiv="Expires" Content="0"/>
    <title>用户列表</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css"/>
</head>
<style>

</style>
<body>
<div style="padding: 20px;margin-top: 50px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="layui-icon">&#xe68e;</i>
                    <span>首页 / 用户列表</span>
                </div>
                <div class="layui-card-body">
                    <button class="layui-btn layui-btn-sm" id="add"><i class="layui-icon">&#xe654;</i>添加用户</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <!--动态数据表格-->
    <table class="layui-table" lay-data="{url:'/user/list'}" lay-filter="userList">
        <thead>
        <tr>
            <th lay-data="{field:'title', fixed: true}">用户名</th>
            <th lay-data="{field:'email'}">邮箱</th>
            <th lay-data="{field:'apiKey'}">API_KEY</th>
            <th lay-data="{field:'statusName'}">状态</th>
            <th lay-data="{field:'lastLoginAddress'}">最后响应地址</th>
            <th lay-data="{fixed: 'right', align:'center', toolbar: '#bar'}"></th>
        </tr>
        </thead>
    </table>

    <!-- 弹出层 -->
    <div class="layelAdd" style="display: none;">
        <form class="layui-form" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入用户名"
                           autocomplete="off" class="layui-input" style="width: 300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                           autocomplete="off" class="layui-input" style="width: 300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" required lay-verify="required" placeholder="请输入邮箱"
                           autocomplete="off" class="layui-input" style="width: 300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formAdd">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/lib/layui/layui.all.js"></script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="ak">生成AK</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-group">&#xe640;</i></a>
</script>
<script type="text/javascript">
    //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
    ;!function () {
        var layer = layui.layer, form = layui.form, $ = layui.jquery, table = layui.table;

        //监听工具条
        table.on('tool(userList)', function(obj){
            var data = obj.data;
            if(obj.event === 'del') {
                /*layer.confirm('确定删除此权限?', function (index) {
                    $.ajax({
                        url: "/user/permission/"+data.id,
                        type:"delete",
                        dataType:"json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.code === 0) {
                                location.reload();
                            } else {
                                layer.msg(result.msg);
                            }
                        }
                    });
                });*/
            }else if(obj.event === 'ak'){
                layer.confirm('确定生成API_KEY? 新的API_KEY将覆盖旧值', function (index) {
                    $.ajax({
                        url: "/user/apiKey"+data.id,
                        type:"post",
                        dataType:"json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.code === 0) {
                                location.reload();
                            } else {
                                layer.msg(result.msg);
                            }
                        }
                    });
                });
            }
        });

        $("#add").on("click", function () {
            //页面层
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['500px', '350px'], //宽高
                content: $(".layelAdd").html()
            });
        });


        $(".del").on("click", function () {
            var id = $(this).attr("data-id");
            layer.confirm('确定要删除该应用？', {
                btn: ['确认', '取消']
            }, function () {
                $.ajax({
                    url: "/delUser",
                    dataType: "json",
                    type: "post",
                    data: {id: id},
                    success: function (data) {
                        if (data.code == 0) {
                            location.reload();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            }, function () {

            });
        });

        //监听提交
        form.on('submit(formAdd)', function (data) {
            var name = data.field.name;
            var password = data.field.password;
            var email = data.field.email;
            $.ajax({
                url: "/user/add",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "post",
                data: JSON.stringify({
                    "name": name,
                    "password": password,
                    "email": email
                }),
                success: function (data) {
                    if (data.code == 0) {
                        location.reload();
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        });

    }();

</script>
</body>
</html>