<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bran.branproxy.dao.ProxyModelMapper">

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `ip`,
            `port`,
            `address`,
            `anonymity`,
            `type`,
            `timeout`,
            `lastUpdateTime`,
        </trim>
    </sql>

    <sql id="batchInsertField">
        <trim suffixOverrides=",">
            ip ,
            port ,
            address ,
            anonymity ,
            `type` ,
            timeout ,
        </trim>
    </sql>

    <sql id="batchInsertValues">
        <trim suffixOverrides=",">
            #{obj.ip},
            #{obj.port},
            #{obj.address},
            #{obj.anonymity},
            #{obj.type},
            #{obj.timeout},
        </trim>
    </sql>

    <insert id="insertBatch" parameterType="list">
        <if test="list != null and list.size()>0 ">
            insert into p_proxy (<include refid="batchInsertField"/>)
            values
            <foreach collection="list" item="obj" index="index" separator=",">
                (<include refid="batchInsertValues"/>)
            </foreach>
        </if>
    </insert>

    <select id="selectList" parameterType="object" resultType="org.bran.branproxy.model.ProxyModel">
        select
        <include refid="allResult"/>
        from p_proxy
        limit #{offset} , #{limit}
    </select>

    <select id="countAll" resultType="int">
        select count(*) from p_proxy
    </select>

    <select id="selectProxyIdsAll" resultType="long">
        select id from srm p_proxy
    </select>
</mapper>